<div class="container-fluid bg-dark mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="text-white p-3">Par Phillippe Canuel - DECINFA18 Collège O'Sullivan de Québec - 2021<br>
                    Ce produit utilise l'API TMDb mais n'est ni approuvé ni certifié par TMDb</div>
            </div>
            <div class="col-md"><img class="p-3"
                    src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
                    width="100px">
            </div>
            <a target="_blank" href="https://facebook.com">
                <div class="col-md social-icon"><img class="p-3" src="assets/facebook.svg" width="80px">
                </div>
            </a>
            <a target="_blank" href="https://instagram.com">
                <div class="col-md social-icon"><img class="p-3" src="assets/instagram.svg" width="80px">
                </div>
            </a>
            <a target="_blank" href="https://youtube.com">
                <div class="col-md social-icon"><img class="p-3" src="assets/youtube.svg" width="80px">
                </div>
            </a>
        </div>